<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add-Package</title>
        <link rel="stylesheet" href="/assets/astyle.css" />
        <style>
            body {
                background-color: rgba(169, 169, 169, 0.644);
            }
        </style>
    </head>
    <body>
        <section class="add">
            <div class="form-style-5">
                <form action="/save" method="post">
                    <fieldset>
                        <div>
                            <legend>Add New Package</legend>
                            <label>Name</label>
                            <input type="text" id="name" name="name" />
                            <br /><br />
                            <label>Location</label>
                            <input type="text" id="location" name="location" />
                            <br /><br />
                            <label>Package-Name</label>
                            <input type="text" id="package" name="package" />
                            <br /><br />
                            <label>Type</label>
                            <select id="type" name="type">
                                <option value="Gruop">Group</option>
                                <option value="Couple">Couple</option>
                                <option value="senior citizen">Senior Citizen</option>
                                <option value="girls">Girls-Group</option>
                                <option value="solo">Solo Traveler</option>
                            </select>

                            <br /><br />
                            <label>Duration</label>
                            <input type="text" id="duration" name="duration" />
                            <br /><br />
                            <label>Email</label>
                            <input type="email" id="email" name="email" />
                            <br /><br />
                            <label>Phone-No</label>
                            <input type="text" id="phone" name="phone" />
                            <br /><br />

                            <input type="submit" value="Add" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </body>
</html>
