<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel-websiteHolidaypackage</title>
        <link rel="stylesheet" href="/assets/style.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css " />
        <style>
            body {
                background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./Images/Kashmir_7].jpg);
                height: 100vh;
                background-position: center;
                background-size: cover;
                background-attachment: fixed;
                text-align: center;
                color: white;
                padding-top: 20px;
            }
            footer {
                background: black;
                color: white;
                height: 15vh;
                position: absolute;
                left: 0;
                right: 0;
                font-family: "Open Sans";
                padding-top: 10px;
                color: white;
            }
            .footer-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
            .footer-content p {
                max-width: 500px;
                margin: 10px auto;
                line-height: 28px;
                font-size: 14px;
            }
            .socials {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem 0 3rem 0;
            }
            .socials li {
                margin: 0 10px;
            }
            .socials a {
                text-decoration: none;
                color: white;
            }
            .socials a i {
                font-size: 1.1rem;
                transition: 4s ease;
            }
            .socials a:hover i {
                color: aqua;
            }
            .footer-bottom {
                background: black;
                width: 150vw;
                padding: 20px 0;
                text-align: center;
            }
            .footer-bottom p {
                font-size: 14px;
                word-spacing: 2px;
                text-transform: capitalize;
                text-align: center;
            }
            .footer-bottom span {
                text-transform: uppercase;
                opacity: 0.4;
                font-weight: 200;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <a href="/login" class="login_btn"> Login</a>
            <div class="all">
                <ul>
                    <li><a href="/home" class="active">Home</a></li>
                    <!--<li><a href="Flight.html">Flight</a></li>-->
                    <li><a href="/holiday" class="active">Holiday</a></li>
                    <!--<li><a href="Hotel.html">Hotel</a></li>-->
                    <li><a href="/aboutus" class="active">AboutUs</a></li>
                    <li><a href="/contactus" class="active">ContactUs</a></li>
                </ul>
            </div>
        </div>
        <div class="holiday_package">
            <h3>The Ultimate Mountain Getaway-Kashmir</h3>
            <h5>2N Shrinagar/2N Gulbarga</h5>
            <hr class="new" />
            <div>
                <div class="row">
                    <div class="col-sm">
                        <h4>Intnerary Day Plan</h4>
                    </div>
                    <div class="col-sm">
                        <h4>Polices</h4>
                    </div>
                    <div class="col-sm">
                        <h4>SimillerPackage</h4>
                    </div>
                </div>
            </div>
            <hr class="new" />
            <div class="row">
                <div class="col-sm">
                    <h5>Day-Plan</h5>
                </div>
                <div class="col-sm">
                    <h5>Flight-2</h5>
                </div>
                <div class="col-sm">
                    <h5>Hotels-2</h5>
                </div>
                <div class="col-sm">
                    <h5>Transfers-5</h5>
                </div>
                <div class="col-sm">
                    <h5>Activites-5</h5>
                </div>
                <div class="col-sm">
                    <h5>Summary</h5>
                </div>
            </div>
            <hr class="new" />
            <div class="container">
                <div class="details">
                    <h6>Day-1</h6>
                    <div class="plan_2">
                        <ul>
                            <li>Jul06</li>
                            <li>07</li>
                            <li>08</li>
                            <li>09</li>
                            <li>10</li>
                        </ul>
                    </div>
                    <div class="Plan_b">
                        <ul>
                            <li>11:30-13:25</li>
                            <li>14:30-16:30</li>
                            <br />
                            <ul>
                                <li>Pune-Delhi</li>
                                <li>Delhi-Shrinagr</li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="details">
                    <h6>Day-2</h6>
                    <div class="plan_2">
                        <ul>
                            <li>Jul06</li>
                            <li>07</li>
                            <li>08</li>
                            <li>09</li>
                            <li>10</li>
                        </ul>
                    </div>
                    <div class="Plan_b">
                        <ul>
                            <li>11:30-13:25</li>
                            <li>14:30-16:30</li>
                            <br />
                            <ul>
                                <li>Pune-Delhi</li>
                                <li>Delhi-Shrinagr</li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="details">
                    <h6>Day-3</h6>
                    <div class="plan_2">
                        <ul>
                            <li>Jul06</li>
                            <li>07</li>
                            <li>08</li>
                            <li>09</li>
                            <li>10</li>
                        </ul>
                    </div>
                    <div class="Plan_b">
                        <ul>
                            <li>11:30-13:25</li>
                            <li>14:30-16:30</li>
                            <br />
                            <ul>
                                <li>Pune-Delhi</li>
                                <li>Delhi-Shrinagr</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="book">
                <a href="/payment" id="submit-btn">Book</a>
            </div>
        </div>
        <section>
            <div class="gallery">
                <h1>Travelling Gallery</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="gallery-box">
                                <img src="./images/Images/kashmir_travelling2.jpeg" />
                                <h4>Traveller</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="gallery-box">
                                <img src="./images/Images/IMG-Solo travel in Kashmir.JPG" style="width: 100%; height: 100%" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="gallery-box">
                                <img src="./images/Images/kashamir_10.jpg" style="width: 100%; height: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-content">
                <ul class="socials">
                    <li>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i> </a>
                    </li>
                </ul>
                <div class="footer-bottom">
                    <p>Copyright &copy;2021 AmberSoft Designed by <span>Team3</span></p>
                </div>
            </div>
        </footer>
    </body>
</html>
